site_name: Ratandeep Sharma | DevSecOps
site_dir: _site
theme:
  name: material
  features:
    - navigation.indexes
    - navigation.instant
    - navigation.tabs
  palette:
    primary: deep purple
nav:
  - Home: index.md
  
plugins:
  - search

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
